# 机器人Token，必填，透过@Botfather机器人之父获取
Token=
# 管理员的userid(数字)，必填(用于验证配置审稿群的权限)，可透过@userinfo 机器人得到
Admin=
# 投稿到的频道，必填，例 @abcdefg
Channel=
# 夜间消音，留空则禁用。填写时区则夜间00:00~6:50AM自动静音推送 （时区列表 http://php.net/manual/zh/timezones.php)
AutoMute=Asia/Taipei
# 审稿群ID（无需手动填写，将机器人加到审稿群后，透过 /setgroup 命令自动设定)
Group=
# 机器人ID (无需手动填写，自动获取)
BotID=
# 机器人用户名 (无需手动填写，自动获取)
BotUserName=
# 语言 (不带后缀的lang目录下的文件)
Lang=zh-CN


# !!! 必须将这个文件拷贝一份后并重命名为 .env 并修改上方配置才有效 !!! #
